body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/public/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
      background-size: cover;

}
body button {
    background:    #1bd095;
    background:    linear-gradient(#1bd095, #03412e);
    border:        1px solid #556699;
    border-radius: 8px;
    padding:       10px 20px;
    color:         #ffffff;
    font:          normal bold 12px/1 "Roboto", sans-serif;
    text-align:    center;
  
}
body input[type=text] {
    border-radius: 8px;
    padding:       10px 20px;

}
body textarea{
    border-radius: 8px;
    padding:       10px 20px;
}
.container {
    gap: 20px;
    display: grid;
    grid-template-rows: auto auto;
    min-height: 100vh;
    min-width: 100vw;
}

.hero {
    padding: 20px;
    border-radius: 8px;
    background-image: url('/public/images/steelhead3.png');
    background-size: 100% 100%;
    width: 100%;
    max-width: 600px;
    height: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-height: 150px;
    
}
.about {
    background-color: rgba(25, 60, 60, 0.88);
    color: #F1E8D0;
    border: 2px solid #C7B98A;
    border-radius: 8px;
    padding: 5px;
    margin-right: 20px;
    font-size: 12px;
    text-align: center;
    width: 360px;
    min-height: 400px;

}
 .about-api-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
 }
.api{
    background-color: rgba(25, 60, 60, 0.88);
    color: #F1E8D0;
    border: 2px solid #C7B98A;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    min-width: 360px;
    min-height: 400px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px; 
    padding: 20px;
    
}
.new-blog-post {
    display: flex;
    flex-direction: column;
    background-color: rgba(25, 60, 60, 0.92);
    color: #F1E8D0;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 360px; 
    min-height: 400px; 
    align-content: center;
    text-align: center;
}
.new-blog-post form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.blog-posts {
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory; 
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 15px;
    margin : 0px 20px;
    min-width: 400px;
   
    
}
.blog-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 360px; 
    min-height: 400px;
    scroll-snap-align: center; 
    display: flex;
    flex-direction: column; 
}
.blog-card h3 {
    background-color: rgba(255, 255, 255, 0.75);
    color: #193C3C;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.blog-card p {
    background-color: rgba(25, 60, 60, 0.88);
    color: #F1E8D0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
}

.blog-posts form {
    display:flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    color: #ffffff;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 70%);
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
}
.forecast {
    background-color: rgba(25, 60, 60, 0.88);
    color: #F1E8D0;
    border: 2px solid #C7B98A;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    min-width: 360px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.current-forecast{
    padding: 10 px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(66, 156, 104, 0.7);
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.weather-top{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    

}
.weather-search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(66, 156, 104, 0.7);
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 80%;
}
.weather-search h3{
    align-self: center;
}
.weather-card {
    min-width:100px;
    padding: 10 px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(66, 156, 104, 0.7);

}
.weather-card-container h2{
    margin: 0 0 15px 0;
}

.weather-card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow-x: auto;
    max-height: 400px;
}

@media (max-width: 600px) {
        body {
        display: flex;
        flex-direction: column;
    }
    body div {
        width: 90%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .main {
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .about-api-container {
        display: flex;
        flex-direction: column;
    }

    .weather-top {
        display: flex;
        flex-direction: column;
    }


}
